<% layout("/layouts/boilerplate") %>
<div class="alert alert-warning" role="alert">
    <div class="alert alert-warning" role="alert">
     </div>
     <h1><%=errs.status%></h1>
    <div class="alart">
        <%=errs.message%>
    </div>
  </div>