<% layout("/layouts/boilerplate") %>
    <% if (flash.error) { %>
        <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" id="flash-message" role="alert">
            <%= flash.error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
            <br><br>
            <div class="offset-2">
                <div class="signin_up_container" id="signin_up_container">
                    <div class="form-container sign-up-container">
                        <form action="/user/signup" method="post" novalidate class="signin_up_form needs-validation">
                            <h1 class="h1">Create Account</h1>
                            <input type="text" placeholder="Name" name="username" required class="form-control" />
                            <br>
                            <input type="email" placeholder="Email" name="email" required class="form-control" />
                            <br>
                            <input type="password" placeholder="Password" name="user_pass" required
                                class="form-control" />
                            <br>
                            <button class="signin_up_btn">Sign Up</button>
                        </form>
                    </div>
                    <div class="form-container sign-in-container">
                        <form action="/user/login" method="post" novalidate class="signin_up_form needs-validation">
                            <h1 class="h1">log in</h1>
                            <input type="text" placeholder="Name" name="username" required class="form-control" />
                            <br>
                            <input type="password" placeholder="Password" name="password" required
                                class="form-control" />
                            <a class="signin_a" href="#">Forgot your password?</a>
                            <button class="signin_up_btn">log In</button>
                        </form>
                    </div>
                    <div class="overlay-container">
                        <div class="overlay">
                            <div class="overlay-panel overlay-left">
                                <h1 class="h1">Welcome Back!</h1>
                                <p>To keep connected with us please login with your personal info</p>
                                <button class="ghost signin_up_btn" id="signIn">Sign In</button>
                            </div>
                            <div class="overlay-panel overlay-right">
                                <h1 class="h1">Hello, Friend!</h1>
                                <p>Enter your personal details and start journey with us</p>
                                <button class="ghost signin_up_btn" id="signUp">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>