body {
    background-color: antiquewhite;
    font-family: "Plus Jakarta Sans", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-style: normal !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
}

.fa-compass {
    color: #fe424d;
    font-size: 3rem;
}

.nav-link {
    color: rgb(0, 0, 0) !important;
    display: inline !important;
}


.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: #222222;
}

.f-info-links {
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;

}

.f-info-social {
    font-size: large;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

.f-info-social i {
    padding: 0vw 1vw;
}

.f-info {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 6rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    align-items: center;
}

.card-title {
    font-size: large !important;
    font-size: large !important;
}

.card-des {
    color: rgba(0, 0, 0, 0.6) !important;
}

.card {
    border: none !important;
    margin-bottom: 3rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
}

.card-body {
    padding: 0px !important;
}

.card-a {
    text-decoration: none;
    transition: transform .5s
}

.card-a:hover {
    transform: scale(1.05);
}


.show-img {
    height: 70vh;
    width: 50% !important;
}

.show-anchers a {
    text-decoration: none;
}


/* star review */

.card-rating {
    width: 100%;
}

.star {
    font-size: 5vh;
    cursor: pointer;
}

.one {
    color: rgb(255, 0, 0);
}

.two {
    color: rgb(255, 106, 0);
}

.three {
    color: rgb(251, 255, 120);
}

.four {
    color: rgb(255, 255, 0);
}

.five {
    color: rgb(24, 159, 14);
}


.review-input {
    width: 100%;
}

/* rating display  */
.rating-container {
    display: inline-block;
    margin-top: 15px;
    text-align: center;
}

.rating {
    font-size: 30px;
    display: inline-flex;
    /* Align stars in a row */
    direction: ltr;
    /* Ensure left-to-right layout */
}

.rating span {
    padding-top: 6px;
    font-size: 28px;

    /* Size of the stars */
    color: #ddd;
    /* Default empty star color */
}

.rating span.filled {
    color: gold;
    /* Filled star color */
}


.review-card {
    display: flex;
    justify-content: space-around;
}

.rating-status {
    padding-top: 15px;
}

.dis-card-title {
    display: flex;
    justify-content: space-between;
}

.dis-card-title a {
    text-decoration: none;
    color: #fe424d;
}

.alert {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.review_auther h6 {
    float: right;
}

.preview-img {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

#map {
    height: 55vh;
    width: 100%;
}

.mapboxgl-popup-content {
    padding: 8px;
    /* Decrease padding */
    font-size: 11px;
    /* Adjust text size */
}

/* Remove top margin for a tighter fit */
.mapboxgl-popup-tip {
    margin-bottom: -10px;
    /* Pull the arrow closer */
}

img {
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}

.filter {
    margin-right: 3rem;
    opacity: 0.6;
    display: inline-block;
    white-space: nowrap;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.filters_listing {
    padding-top: 1rem;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    overflow-x: auto;
    padding-bottom: 10px;
    max-width: 100%;
    scroll-snap-type: x mandatory;
}

.filters_listing::-webkit-scrollbar {
    height: 5px;
    /* Optional: Style the scrollbar */
}

.filters_listing::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

.filters_listing::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.dis_tax {
    display: flex;
    align-items: center;
    padding-left: 0em !important;
}

.check {
    margin-left: 5px !important;
    margin-top: 0px !important;
    width: 50px;
    height: 20px;
}

.tax {
    display: none;
}

.tax-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 1rem;
    height: 3rem;
}

.nav_filter {
    display: flex;
    align-items: center;
}

.search-com {
    padding: 10px !important;
    border-radius: 50px !important;
    font-size: 15px !important;
    width: 13rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
}

.search-com p {
    margin: 0px;
    padding-right: 8px;
}

.search {
    border-radius: 50px;
    background-color: #fe424226;
}

.vr {
    border-left: 1px solid rgba(128, 128, 128, 0.655);
    height: 40px;
}

.search-btn {
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 50px !important;
    text-align: center !important;
    height: 40px;
    padding: 0px;
}